
body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: rgba(203,196,186,1);
    &::-webkit-scrollbar{
        display: none;
        
    }
}

html{
    min-width: 332px;
}

%transition-timing{
    transition: all .3s ease-out;
}
