
body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: rgba(203,196,186,1);
    &::-webkit-scrollbar{
        display: none;
        
    }
}

html{
    min-width: 332px;
}

%transition-timing{
    transition: all .3s ease-out;
}


%carousel-wrapper-base{
    position: relative;
    width: 100%;
    margin-bottom: 1%;
    z-index:100;
}

%flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}