



.admin-portfolio{

    &__title{
        @include font-size(1.3rem);
        color:rgba(255,255,255,.7);
    }

    &__type{
        @include font-size(1.2rem);
        color:rgba(255,255,255,.7); 
    }

    &__description{
        @include font-size(1.2rem);
        color:rgba(255,255,255,.7); 
    }

    &__plan{
        position: relative;
        width: 400px;
        height: auto;
        border: 1px solid black;
    }
}