



%logo-after{
    position: absolute;
        content: "";
        background-size: cover;
        background-position: center;
        top: 5px;
        right: 15px;
        height: 70%;
        aspect-ratio: 1/1;
}

%form-wrapper-pos{
    position: relative;
    display: inline-block;
}

.callback-form{
    position: relative;
    padding: 30px 20px 30px 30px;
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
    min-width: 332px;
    background: linear-gradient(180deg, rgba(203,196,186,.7) 50%, rgba(203,196,186,.65) 70%);
    gap:15px;

    &__title{
        position: relative;
        text-transform: uppercase;
        padding: 5px 10px;
        width:90%;
        z-index: 100;
        
    }
}

.form-info{
    margin-bottom: 20px;
    
}

.form-elem{
    min-width: 230px;
    border-bottom: .01px solid rgba(0, 0, 0, .3) !important;
    
}

.form-send{
    position: relative;
    width: 60%;
    height: 40px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 2px #000;
    padding: 1px 6px;
    min-width: 180px;
    text-transform: uppercase;
    transition: all .4s ease-out;
    background-color: rgba(0, 0, 0, .75);
    color: #fff;
    &:hover{
        background-color: #fff;
        background-color: rgba(0, 0, 0, .65);

    }
}

#square-form{
    @extend %form-wrapper-pos;
    &::after{
        @extend %logo-after;
        background-image: url("../images/form-svg/square.svg");
        
    }
}

#city-form{
    @extend %form-wrapper-pos;
    &::after{
        @extend %logo-after;
        background-image: url("../images/form-svg/city.svg");
        
    }
}

#phone-form{
    @extend %form-wrapper-pos;
    &::after{
        @extend %logo-after;
        background-image: url("../images/form-svg/phone.svg");
        
    }
}

#user-form{
    @extend %form-wrapper-pos;
    &::after{
        @extend %logo-after;
        background-image: url("../images/form-svg/user.svg");
        
    }
}