


.footer-element{
    position: relative;
    margin-top: 30px;
    padding: 30px 20px 30px 30px;

    &__logo-wrapper{
        @extend %pos-rel;
        width: 80px;
    }
  
}

.footer-links{
    position: relative;


    &__icons{
        position: relative;
        width: 180px !important;
    }

}

.footer-title{
    @include font-size(1.25rem)
}

@include media-breakpoint-between(xs,md){
    .footer-main-row{
        flex-direction: column;
        gap:30px;
    }

    .mobile-reverse{
        flex-direction: column-reverse !important; 
    }

    .footer-title-contacts{

    }
}