%medium-size-text{
    @include font-size(1.5rem);
}

%low-size-text{
    @include font-size(1.1rem);
}


@mixin load-background-image($url, $width, $height){
    background-image: url($url);
    background-size: cover;
    background-position: center;
    width:$width;
    height: $height;

}


%link-hovering{
    color:rgba(255,255,255,.9);
    text-shadow: 0 0 3px rgba(255,255,255,.7)
    
}




$page-header-mobile-height:80px;
$page-header-mobile-background: rgba(255,255,255,1);


$page-header-desktop-height:120px;







.mobile-menu-button{
    display: none;
}



.page-header{
    @extend %pos-abs;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    top:0;
    left:0;
    height: $page-header-desktop-height;
    min-width: 332px;
    z-index: 300;

}

.header-line{
    position: relative;
    width: 60%;
    border-top: 1px solid #fff;
}

.navigation{
    @extend %pos-rel;
    height: 80%;
    color: rgba(255,255,255,.8);

    &-container{
        max-width: none !important;
    }

    &__item{
        cursor: pointer;
        &-text{
            @extend %transition-timing;
            cursor: pointer;
            &:hover{
                @extend %link-hovering;
            }
        }

        &-image{

            @extend %pos-rel;
            @include load-background-image("../../shared/logo/logo.svg",100% ,70px);
            min-width:160px;

            &-dark{
                @extend %pos-rel;
                @include load-background-image("../../shared/logo/logo-dark.svg",100% ,70px);
                min-width:160px;

            }


        }
    }
}

.medium-size-level{
    @extend %medium-size-text;
}

.low-size-level{
    @extend %low-size-text;

}

/*Разрешение заголовка от 0 до 768px*/
@include media-breakpoint-between(xs,md){

    .page-header{
        position: fixed;
        height: $page-header-mobile-height;
        top:0;
        left:0;
        background: $page-header-mobile-background;
    }

    .navigation{
        display: none;
    }

    .header-line{
        display: none;
    }
    .mobile-menu-button{
        display: block;
        aspect-ratio: 1/1;
    }
}