%medium-size-text{
    @include font-size(1.35rem);
}

%low-size-text{
    @include font-size(1.1rem);
}


@mixin load-background-image($url, $width, $height){
    background-image: url($url);
    background-size: cover;
    background-position: center;
    width:$width;
    height: $height;

}


%link-hovering{
    color:rgba(255,255,255,.9);
    text-shadow: 0 0 3px rgba(255,255,255,.7)
    
}




$page-header-mobile-height:70px;
$page-header-mobile-background: rgba(255,255,255,.9);


$page-header-desktop-height:120px;







.mobile-menu-button{
    display: none;
}



.page-header{
    @extend %pos-abs;
    @extend %flex-row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: $page-header-desktop-height;
    z-index: 300;
}

.navigation{
    @extend %pos-rel;
    height: 80%;
    color: rgba(255,255,255,.8);

    &-container{
        max-width: none !important;
    }

    &__item{
        &-text{
            @extend %transition-timing;
            cursor: pointer;
            &:hover{
                @extend %link-hovering;
            }
        }

        &-image{

            @extend %pos-rel;
            @include load-background-image("../../shared/logo/logo.png",100% ,70px);
            min-width:160px;


        }
    }
}

.medium-size-level{
    @extend %medium-size-text;
}

.low-size-level{
    @extend %low-size-text;

}

/*Разрешение заголовка от 0 до 768px*/
@include media-breakpoint-between(xs,md){

    .page-header{
        height: $page-header-mobile-height;
        background: $page-header-mobile-background;
    }

    .navigation{
        display: none;
    }

    .mobile-menu-button{
        display: block;
        aspect-ratio: 1/1;
    }
}