

.info-block{
    @extend %pos-rel;
    padding: 20px 10px;
    margin-bottom: 25px;
    z-index: 1;
    width: 100%;
    min-width: 332px;
    

    &__wrapper{
        @extend %pos-rel;
        padding: 20px;
        justify-content: center;
        align-items: center;
        min-height: 333px;
        

        &-image-area{
            @extend %pos-rel;
            width: 450px;
            box-shadow: 0 0 4px #000;
       
            
        }
    }
}


.info-text-area{
    @extend %pos-rel;
    width: 45%;
    height: 65%;
    max-height: 500px;
    background-color: rgba(217, 196, 187, .6);
    border-radius:3px ;
    transform: translateX(-8%) translateY(-14%);
    padding: 19px 5px 15px 20px;
    z-index: 100;
  

    &__title{
        position: relative;
        @include font-size(2rem);
    }

    &__text{
        position: relative;
        overflow-y: hidden;
        padding: 5px 2px 2px 2px;
        max-height: 360px;
        &::-webkit-scrollbar{
            display: none;
            
        }
        word-break:keep-all;
        line-height: 32px;
    }
}

@include media-breakpoint-between(xs,sm){

    .info-block{
        padding: 0;
    &__wrapper{

        &-image-area{
            width:200px;
        }
    }
}



    .info-text-area{
        width: 75%;
        max-height: 400px;
        &__title{
            @include font-size(1rem);
        }

        &__text{
            max-height: 130px;
            @include font-size(.7rem);
            line-height: 22px;
        }

        &__next{
            max-height: 130px;
            @include font-size(.9rem);
        }
    }
}


@include media-breakpoint-between(sm,md){
    .info-block__wrapper{

        &-image-area{
  
            width:280px;
        }
    }




    .info-text-area{
        width: 65%;
        max-height: 400px;

        &__title{
            @include font-size(1rem);
        }

        &__text{
            max-height: 200px;
            
            @include font-size(.7rem);
        }

        &__next{
            max-height: 130px;
            @include font-size(.9rem);
        }
    }

}


@include media-breakpoint-between(md,lg){
    .info-block__wrapper{

        &-image-area{
  
            width:300px;
        }
    }


    .info-text-area{
        width: 65%;
        max-height: 400px;

        &__text{
            max-height: 220px;
        }
    }
}


@include media-breakpoint-between(lg,xl){
    .info-block__wrapper{

        &-image-area{
  
            width: 400px;
        }

      
    }


    .info-text-area{
        width: 65%;
        max-height: 400px;

        &__text{
            max-height: 220px;
        }
    }
}




@include media-breakpoint-up(xxl){
    .info-text-area{
        min-height: 490px;
        max-width: 900px;
    }

    .info-block{
        &__wrapper{
            &-image-area{
                width: 450px;
                min-width: 450px;
            }
        }
    }
}