

.info-block{
    @extend %pos-rel;
    padding: 20px 10px 10px 10px;
    margin-bottom: 50px;
    z-index: 1;
    width: 100%;
    min-width: 332px;




    

    &__wrapper{
        @extend %pos-rel;
        justify-content: center;
        align-items: center;



        &-half{
            position: relative;
            flex: 1;

        }
        
        &-image{
            position: relative;

            width: 390px;
        }
        &-info{
            position: relative;

            
        }
        &-text{
            position: absolute;
            width: 350px;

            top:45%;
            left: -30px;
            transform: translateY(-50%);
            background: linear-gradient(180deg, rgba(203,196,186,.5) 50%, rgba(203,196,186,.45) 70%);
        }

    }
}


.block-title{
    @include font-size(1.1rem);
    
}

.block-text, .block-next{
    @include font-size(.9rem)
}



@include media-breakpoint-between(xs,sm){
    

    .info-block{
        padding: 20px 0 10px 0;
        margin-bottom: 90px;
        
        &__wrapper{
            
            &-image{
                width: 200px;
            }
            &-text{
                position: absolute;
                width: 216px;
                top:45%;
                width: 110%;
                min-width: 148px;
                padding-right:1px;
                left: auto;
                right: 0;

        }
    }
    }


    .block-title{
        @include font-size(.7rem);
        line-height: 14px; 
    }
    
    .block-text{
        @include font-size(.5rem);
        max-height: 82px;
        overflow-y: hidden;
    }

    .block-next{
        @include font-size(.5rem)
    }
    
}

@include media-breakpoint-between(sm,md){
    .info-block{
      
        margin-bottom: 130px;
        &__wrapper{
            
            &-image{
                width: 240px;
            }
            &-text{
                position: absolute;
                width: 296px;

        }
    }
    }


    .block-title{
        @include font-size(.8rem)  
    }
    
    .block-text, .block-next{
        @include font-size(.6rem)
    }
    


}



@include media-breakpoint-between(md,lg){
    
}
@include media-breakpoint-between(lg,xl){
    
}
@include media-breakpoint-between(xl,xxl){
    
}

@include media-breakpoint-up(xxl){
    
}