


  
  .header-mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1px;
    z-index: 0;
    visibility: hidden;




  }
  
  @include media-breakpoint-between(xs,md){
    .header-mobile-nav{
        z-index: 1000;
        visibility: visible;
    }
}
  .background-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: white;
    z-index: -1;
    overflow-y: hidden;


    

}



.blur-mobile{
    transition: all .2s ease-out;
}


.blur-mobile.close{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0);
    z-index: 0;
    display: none;
}

.blur-mobile.open{
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 800;
    position: fixed;
    overflow: hidden;
}
  
  .button-menu-toggle {
    position: fixed;
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: transparent;

  }
  
  ul.sidebar-list,
  li.sidebar-element {
    margin: 0;
    padding: 0;
  }
  
  ul.sidebar-list {
    padding: 25px 10px 25px 25px;
    position: fixed;
    top: 35px;
    right: 3px;
    width: 230px;
    z-index:1000

  }
  
  li.sidebar-element {
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
  }
  

  
  .text-placeholder {
    border-radius: 5px;
    font-size: 1.3rem;
    text-align: start;
    flex: .75;
  }
  
  .refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 50px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  

  .sidebar-contacts{
    position:fixed;
    top: 80%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.2rem;
    &__title{
      text-transform: uppercase;
      text-align: center;
    }
    &__contact{
      font-size: 1rem;
    }
    &__links{
      display: flex;
      justify-content: space-around;
      align-items: center;
     &-icon{
      width: 30px;

      
     }
  }
}

@include media-breakpoint-between(sm,md){
  .sidebar-contacts{
    top:60%;
  }
}