


@mixin title-block-small-screen($justify-content){
    max-width: none;
    width: 100%;
    line-height: 22px;
    flex-direction: row;
    padding: 0;
    justify-content: $justify-content;
    align-items: stretch;
}

.portfolio-block{
    @extend %pos-rel;
    padding: 30px 20px 120px 20px;
    justify-content: center;
    gap:50px;
    margin-bottom: 75px;
    background: linear-gradient(180deg, rgba(203,196,186,1) 50%, rgba(203,196,186,.8) 70%);
    min-width: 332px;
}


.living-spaces-block, .public-areas-block{
    position: relative;
    flex-direction: column;
    align-items: center;
    gap:10px;

    &__title{
        @extend %pos-rel;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 8px;
        align-items: center;
       
    }

    &__image-area{
        @extend %pos-rel; 
        width: 700px;
        height: auto;
        overflow: hidden;
    }

}

.title-text{
    width:80%;
    transition: all .5s ease-out;
    line-height: 22px;
    @include font-size(1.25rem);
    text-align: center;
    padding-bottom: 3px;
    margin-bottom:0 !important;
    &:hover{
        background-color: rgba(0, 0, 0, .75);
        color: rgba(255, 255, 255, .75);

    }
}

.portfolio-image{
    position: relative;
    transition: transform .8s ease-in-out;


    &:hover{
        transform: scale(1.1);

    }
}

@include media-breakpoint-between(xs,sm){
    .title-text{
        border-bottom:.1px solid rgba(0,0,0,.3);
        height: 100%;
        width: 90%;
        @include font-size(1.35rem);
        padding: 3px 2px;


    }
    .portfolio-block{
        flex-direction: column;
        padding: 30px 0;
        margin-bottom: 50px;
        gap:80px;
    }

    .living-spaces-block, .public-areas-block{
        &__image-area{
            width: 90%;
            left: 0;
            gap:20px;
            
            top:0;
        }

        

        
    }

    .living-spaces-block{
        align-items: flex-start;
        &__title{
            @include title-block-small-screen(flex-start);
            
    }}

    .public-areas-block{
        align-items: flex-end;
        &__title{
            @include title-block-small-screen(flex-end);

            
        }
    }
    .living-s-text{
        text-align: right;
    }
    .public-a-text{
        text-align: left;
    }
}


@include media-breakpoint-between(sm,md){

    .portfolio-block{
        gap:15px;
        padding: 10px 20px;
        justify-content: space-around;
    }
    .living-spaces-block, .public-areas-block{
        &__image-area{
            width: 270px;
        }
        &__title{
            max-width: 270px;
        }
    }

}


@include media-breakpoint-between(md,lg){
    .title-text{
        width:100%;
    }
    .portfolio-block{
        justify-content: space-around;
    }

    .living-spaces-block, .public-areas-block{
        &__image-area{
            width: 330px;
        }

        &__title{
            max-width: 330px;
            min-height: 65px;
        }
    }
}


@include media-breakpoint-between(lg,xl){
    .title-text{
        width:100%;
    }
    .portfolio-block{
        justify-content: space-around;
    }

    .living-spaces-block, .public-areas-block{
        &__image-area{
            width: 450px;
        }

        &__title{
            max-width: 450px;
            min-height: 65px;
        }
    }
}


@include media-breakpoint-between(xl,xxl){
    .title-text{
        width:100%;
    }
    .portfolio-block{
        justify-content: space-around;
    }

    .living-spaces-block, .public-areas-block{
        &__image-area{
            width: 510px;
        }

        &__title{
            max-width: 510px;
            min-height: 65px;
        }
    }
}



@include media-breakpoint-up(xxl){
    .title-text{
        width:100%;
    }
    .portfolio-block{
        gap: 45px;
    }

    .living-spaces-block, .public-areas-block{
        &__image-area{
            min-width: 410px;
            width: 700px;
        }

        &__title{
            max-width: 410px;
            min-height: 80px;
        }
    }
}