

.price-block{
    position: relative;
    padding: 15px 10px 15px 15px;
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 100px;
    min-width: 332px;

    &__title{
        position: relative;
        border-bottom: .1px solid rgba(0, 0, 0, .3);
        text-transform: uppercase;
        padding: 5px 10px;
        width:90%;
        z-index: 100;

    }

   
    @include media-breakpoint-between(lg,xxl){

    .card-element{
        max-width: 390px;
    }
}
    
}

.price-container{
    width:90% !important;
}


    
.button-price{
    position: relative;
    padding: 3px 5px;
    cursor: default !important;
    border-radius: 15px;
    color: black !important;
    border: none;
    height: 5%;
    margin-right: 6px;
    background-color: rgba(203,196,186,1);


}

.button-info{
    position: relative;
    height: 25%;
    padding: 2px 7px;
    border: none;
    border-radius: 50%;
    color: black !important;
    transition: all .3s ease-out;
    background: linear-gradient(180deg, rgba(203,196,186,.7) 50%, rgba(203,196,186,.65) 70%);

    &:hover{
        background: linear-gradient(180deg, rgba(203,196,186,.7) 50%, rgba(203,196,186,.65) 70%);

    }
}



@include media-breakpoint-between(xs,sm){
    .price-block{
        margin-bottom: 70px;
        padding: 15px 0 15px 0;
    }

    .price-col{
        padding-left: 0 !important;
        padding-right: 0  !important;
    }
}