

.price-block{
    position: relative;
    padding: 30px 20px 30px 30px;
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 240px;
    min-width: 332px;

    &__title{
        position: relative;
        border-bottom: .1px solid rgba(0, 0, 0, .3);
        text-transform: uppercase;
        padding: 5px 10px;
        width:90%;
        z-index: 100;

    }

    &__color-wrapper{
        position: absolute;
        background-color: rgba(217, 196, 187, .6);
        top: 5px;
        right: 10px;
        left: 20px;
        bottom: 5px;
        z-index: 1;
        
    }

    &__cards{
        position: relative;
        padding: 5px;
        gap: 10px;
        width:90%;
        align-items: center;
        z-index: 100;
    }

 
    
}


    
.button-price{
    position: relative;
    padding: 3px 5px;
    cursor: default !important;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 2px #000;
    height: 5%;
    margin-right: 6px;


}

.button-info{
    position: relative;
    height: 25%;
    padding: 2px 7px;
    border: none;
    border-radius: 50%;
    transition: all .3s ease-out;

    &:hover{
        background-color: #000;
        color: #fff;
    }
}



