

.price-block{
    position: relative;
    padding: 30px 20px 30px 60px;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;

    &__title{
        position: relative;
        border-bottom: 1px solid black;
        text-transform: uppercase;
        padding: 5px 40px;
        width:90%;
        z-index: 100;
    }

    &__color-wrapper{
        position: absolute;
        background-color: rgba(217, 196, 187, .6);
        top: 5px;
        right: 20px;
        bottom: 5px;
        left: 78px;
        z-index: 1;
        
    }

    &__cards{
        display: flex;
        position: relative;
        justify-content: center;
        padding: 30px 20px;
        gap:30px;

        &-card{
            position: relative;
            width: 400px;
            height: 450px;
            background-color: #fff;
            z-index: 100;
            padding: 10px;
            border-radius: 15px;
            gap:5px;
        }
    }
}

.card__image-area{
    position: relative;
    height: 70%;
}

.card__title-area{
    position: relative;
    flex: 1;
    padding: 3px 2px;

    &-text{
        position: relative;
        padding: 1px 2px 1px 3px;
        flex: 1;
        @include font-size(1.3rem);
    }
    &-buttons{
        position: relative;


        @include font-size(1.3rem);
        gap:10px;
        height: 50%;
    }

    &-price{
        @extend %pos-rel;
        width: 30%;
        line-height: 27px;
        padding: 1px 0;
        text-align: center;
        font-weight: 500;
        height: 60%;
        border-radius: 15px;
        font-size: 1.4rem;
    }
    &-add{
        @extend %pos-rel;
        line-height: 27px;
        height: 60%;
        padding: 1px 0;
        aspect-ratio: 1/1;
        border-radius: 50%;
        cursor: pointer;
        transition: all .2s ease-out;

        &:hover{
            background-color: black;
            color: white;
        }
    }
}