@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "marking";
@import "parent";
@import "loading";
@import "header";
@import "portfolio";
@import "info";
@import "prices";
@import "logo";


@font-face {
    font-family: "Century Gothic";
    src: url("../fonts/centurygothic.ttf");
}

*{
    padding:0;
    margin: 0;
    font-family: "Century Gothic";
    box-sizing: border-box;

}

.title-images{
    position: relative;
    width: 100%;
    height: 40vh;
    background-color: black ;
    
}


#svg-small-logo{
    @extend %pos-rel;
    @extend %full-w-h;
    background-size: cover;
    

}

.carouselWrapper{
    position: relative;
    border: 1px solid green;
    width: 100%;
    margin-bottom: 70px;
    

    
}

img{
    position: relative;
}

a{
    @include font-size(1.3rem);
    
}

.nav-element{
    color: rgba(46, 45, 45, 0.9);
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    scale:1;
    transition-property: scale, color;
    transition-duration: .3s;
    transition-timing-function: ease-out;

    &:hover{
        color: rgba(46, 45, 45, 0.7);; 
        scale: 1.1;
    }
}

@include media-breakpoint-down(sm){
    .navbarMenu{
        display: none !important;
        

    }
}