@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "marking";
@import "parent";
@import "loading";
@import "header";
@import "portfolio";
@import "info";
@import "callbackForm";
@import "prices";
@import "logo";
@import "footer";
@import "mobileSidebar";
@import "carousel";
@import "price-side-bar";
@import "not-found";
@import "about";
@import "contacts";
@import "sendForm";
@import "admin-input";
@import "admin";
@import "presentation";
@import "admin-portfolio";
@import "portfolio-page";
@import "portfolio-presentation";

@font-face {
    font-family: "Century Gothic";
    src: url("../fonts/centurygothic.ttf");
}



*{
    padding:0;
    margin: 0;
    font-family: "Century Gothic";
    box-sizing: border-box;
    word-wrap: break-word;


}

option{

    &:hover{
        background: linear-gradient(180deg, rgba(203,196,186,.5) 50%, rgba(203,196,186,.45) 70%);
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}


textarea{
    resize: none !important;
    height: auto !important;
}

h5{
    @include font-size(1.5rem);
    font-family: 600;
    letter-spacing: 2;
}

.title-images{
    position: relative;
    width: 100%;
    height: 40vh;
    background-color: black ;
    
}

label{
    line-height: 26px;
    @include font-size(1.1rem);
    color:rgba(100, 100, 100, 0.8);
}

#svg-small-logo{
    @extend %pos-rel;
    @extend %full-w-h;
    background-size: cover;
    

}

.carouselWrapper{
    @extend %carousel-wrapper-base;
 
}

@include media-breakpoint-between(xs,md){
    .carouselWrapper{
        margin-top:$page-header-mobile-height;
        display: none;
    }

}




img{
    position: relative;
    border: none;
    box-shadow: none;

}

a{
    text-decoration: none;
    color: rgba(255,255,255,.8);
    
}

.nav-element{
    color: rgba(46, 45, 45, 0.9);
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    scale:1;
    transition-property: scale, color;
    transition-duration: .3s;
    transition-timing-function: ease-out;

    &:hover{
        color: rgba(46, 45, 45, 0.7);; 
        scale: 1.1;
    }
}

@include media-breakpoint-down(sm){
    .navbarMenu{
        display: none !important;
        

    }
}